.header__number {
  font-weight: 900;
  font-size: 1.625rem;
  line-height: 1.46;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .header__number {
    font-size: 1.3rem;
    margin-top: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__number {
    font-size: 1.1rem;
    margin-top: 25px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .header__number {
    font-size: 1.1rem;
    margin-top: 25px;
    margin-left: 26px;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .header__number {
    font-size: 1rem;
    margin-top: 25px;
    margin-left: 16px;
  }
}