.header__link {
  display: flex;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2;
  color: #37447e;
  margin: 40px 22px 0;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .header__link {
    font-size: 1.1rem;
    margin: 40px 11px 0
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__link {
    font-size: 1rem;
    margin: 30px 6px 0
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .header__link {
    font-size: 1rem;
    margin: 25px 26px 0;
    
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .header__link {
    font-size: 1rem;
    margin: 22px 16px 0;
    
  }
}
