.header__menu {
  display: flex;
  position: relative;
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .header__menu {
    display: none;
    flex-direction: column;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .header__menu {
    display: none;
    flex-direction: column;
  }
}
