.header__link-title {
  margin: 15px 9px 10px 19px;
  font-weight: bold;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .header__link-title {
    margin: 12px 9px 0 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__link-title {
    margin: 12px 9px 0 6px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .header__link-title {
    margin: 12px 9px 0 12px;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .header__link-title {
    margin: 9px 7px 0 6px;
  }
}