.header__link-title_color-red {
  margin: 14px 9px 0 12px;
  color: #871717;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .header__link-title_color-red {
    margin: 14px 9px 0 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__link-title_color-red {
    margin: 12px 9px 0 6px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .header__link-title_color-red {
    margin: 12px 9px 0 12px;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .header__link-title_color-red {
    margin: 9px 5px 0 4px;
  }
}
