@import url(./__logo/header__logo.css);
@import url(./__menu/header__menu.css);
@import url(./__menu/_visibility/header__menu_visibility.css);
@import url(./__links/header__links.css);
@import url(./__link/header__link.css);
@import url(./__user-link/header__user-link.css);
@import url(./__link-title/header__link-title.css);
@import url(./__link-logo/header__link-logo.css);
@import url(./__number/header__number.css);
@import url(./__driver/header__driver.css);
@import url(./__link-logo_size/header__link-logo_size.css);
@import url(./__link-title_color-red/header__link-title_color-red.css);
@import url(./__button-menu/header__button-menu.css);
@import url(./__button-menu/_hidden/header__button-menu_hidden.css);
@import url(./__button-close-menu/header__button-close-menu.css);
@import url(./__button-close-menu/_visibility/header__button-close-menu_visibility.css);

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 0 60px 0;
  margin: 0;
  background-color: #fff;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .header {
    padding: 0 30px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding: 0 30px 0;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .header {
    padding: 0;
    flex-direction: column;
    border-radius: 0 0 16px 16px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .header {
    padding: 0;
    flex-direction: column;
    border-radius: 0 0 16px 16px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
  }
}
